
{% load staticfiles %}
<html>
<head>
    <style> a {text-decoration: none;}
        table, th, td {
  border: 1px solid black;
}
        table.b {
  table-layout: fixed;
  width: 45%;
}
        td.c{
            padding-left: 80px;
        }
         .count{
            padding-left: 80px;
             padding-top: inherit;
        }
    table {
  counter-reset: section;
}
.count:before {
  counter-increment: section;
  content:  counter(section) " ";
}
        caption {
  background-color: #4CAF50;
  color: white;
}

    </style>
</head>
<body>
<center><h2>JSM e-Hospitality</h2></center>

<table class="b" align="center" > <col width="170px" >
        <caption ><b>S.No &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Entities  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Count </b>  </caption>
        {% for xyz,yz in res.items %}
     <tr>
<td class="count"></td>
     <td>
       <a href="{% url 'presenting' data=xyz %}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ xyz }} </a>
      </td>
         <td class="c">
               {{ yz|length }}

         </td>
            </tr>
        {% endfor %}
</table>

        <b><center><h3>
            {% if msg %}
                {{ msg }}
            </h3> </center></b>{% endif %}
</body>
</html>










