<html>
<head>
    <style>
        p.a {
             word-spacing: 30px;
}
        p.b {
             word-spacing: 1cm;
}
        option{
            width: 10%;
            height: 100px;
        }

    </style>
</head>
<body>
<center><h3>welcome to e-hospitality project</h3></center>


<table align="center">
<tr><td>
      <form action="{% url 'generate_table' t=0 %}" method="post">
      {% csrf_token %}
        <select name="nam">
            <option selected="select" disabled >select doctor</option>
{% for na in d_names  %}
            <option>{{ na.med }}</option>
{% endfor %}
        </select>
    <button type="submit">select here</button>
    </form> </td>

    <td  class="b"> <a href="//">Download raw data</a> </td>
    <td> <a href="details">Uncoded list</a> </td> </tr>
</table>

</body>
</html>