<html>
<head>
 <style>
table,th,td{
    border-collapse:collapse;
    border-right: 0;
}
.z{
    background-color: darkseagreen;
    height: 5px;
}
.a{
    color: white;
}
.d{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 1px;
}
    .home{
        height: 30px;
        width: 80px;
        cursor: pointer;
    }
     .home:hover{
         background-color:darkcyan ;
     }
</style>
</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="shortcut icon" href="#" />

       <h3><center> {{ names }}  </center></h3>
<table align="right">
    <tr>
        <td> <form action="{% url 'details' %}">
            <center ><button type="submit" class="home"><i class="fa fa-home" ></i>  Home </button></center>
    </form>
        </td>
    </tr>
</table>

<table  align="center" border="1" > <col width="450" >
<tr bgcolor="green" class="a">

    <th>Entity</th>
    <th>Code</th>
</tr>
    {% for p in res1 %}
        <tr >
            <td class="d" ><h5 style="font-family:'Batang';" >{{ p }}  </h5></td>

<form action="{% url 'update' x=names %}?y={{ p }}" method="post" autocomplete="off">
    {% csrf_token %}

    <td  class="">
    <input type="text" name="cod" required placeholder="enter code" height="10px"></td>

    <td class="z" >
<button type="submit" >update</button></td>


</form>
        </tr>
    {% endfor %}
</table>

  <!--   <tr >

       <td>{% if res1.has_previous %}
                    <a href="?pageno={{ res1.previous_page_number }} ">previous</a>
            {% endif %}
        </td>

        <td> Page {{ res1.number }} of {{ res1.paginator.num_pages }}.</td>

    <td>{% if res1.has_next %}
        <a href="?pageno={{ res1.next_page_number }} ">next</a>
        {% endif %}

    </td>
    </tr>
<td>-->
    <br><br>
<!--{% for x2,x3 in res.items %}
   <form action="{% url 'presenting' data.x2 %}" method="post"  >
       {% csrf_token %}
        <select >
            <option selected="selelct" disabled>select here</option>
        <option value="10">15</option>
        <option value="20">20</option>
        <option value="50">30 </option>
    </select>
       <button type="submit" value="get">get</button>
    </form>
        {% endfor %}-->



</body>
</html>







