<html>
<head><style>
caption {
  background-color: #4CAF50;
  color: white;
}
      table {
  counter-reset: section;
}
.count:before {
    counter-increment: section;
    content: counter(section) " ";
}
</style>
</head>
<body>

<tr>
    <th>
       <h3><center> {{ name }}  </center></h3>
    </th>
</tr>
<table align="center" border="1"> <col width="170">
        <caption ><b>Entities&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Edit </b>  </caption>
    {% for p in res1 %}
        <tr>
            <td><b> <i> {{ p.med }}   </i></b> </td>

<form action="{% url 'update' x=p.id %}" method="post" autocomplete="off">
    {% csrf_token %}
    <td> <input type="text" name="code" value="{{ p.code }}"></td>
    <td> <button type="submit">update</button></td>
</form>
        </tr>
    {% endfor %}

</table>
<table align="center">
    <tr>
        <td> <form action="{% url 'details' %}">
<center><button type="submit">Back</button></center>
    </form>
        </td>
    </tr>
</table>
</body>
</html>







